<thead>
  <tr>
    <th></th>
    <th>Year 1</th>
    <th>Year 2</th>
    <th>Year 3</th>
    <th>Year 4</th>
    <th>Year 5</th>
    <th>Year 6</th>
  <tr>
</thead>

<tbody>
  <tr>
    <th>Beginning of Year</th>
    <td><small>{{plusYearsMinusDays item.startdate years=0 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=1 days=0}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=2 days=0}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=3 days=0}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=4 days=0}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=5 days=0}}</small></td>
  </th>
  <tr>
    <th>End of Year</th>
    <td><small>{{plusYearsMinusDays item.startdate years=1 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=2 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=3 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=4 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=5 days=1}}</small></td>
    <td><small>{{plusYearsMinusDays item.startdate years=6 days=1}}</small></td>
  </th>
  <tr>
    <th>Moths without rates</th>
    <td>{{item.monthsWithoutRates1}}</td>
    <td>{{item.monthsWithoutRates2}}</td>
    <td>{{item.monthsWithoutRates3}}</td>
    <td>{{item.monthsWithoutRates4}}</td>
    <td>{{item.monthsWithoutRates5}}</td>
    <td>---</td>
  </tr>
  <tr>
    <th>Upcoming Rates (EUR)</th>
    <td>---</td>
    <td>{{twoDigits item.newRate2}}</td>
    <td>{{twoDigits item.newRate3}}</td>
    <td>{{twoDigits item.newRate4}}</td>
    <td>{{twoDigits item.newRate5}}</td>
    <td>{{twoDigits item.newRate6}}</td>
  </tr>
  <tr>
    <th>Next Month</th>
    <td>{{twoDigits item.nextMonth1}}</td>
    <td>{{twoDigits item.nextMonth2}}</td>
    <td>{{twoDigits item.nextMonth3}}</td>
    <td>{{twoDigits item.nextMonth4}}</td>
    <td>{{twoDigits item.nextMonth5}}</td>
    <td>---</td>
  </tr>
  <tr>
    <th>Upcoming Rates incl. Monitoring (EUR)</th>
    <td>---</td>
    <td>{{twoDigits item.newRateWithMonitoring2}}</td>
    <td>{{twoDigits item.newRateWithMonitoring3}}</td>
    <td>{{twoDigits item.newRateWithMonitoring4}}</td>
    <td>{{twoDigits item.newRateWithMonitoring5}}</td>
    <td>{{twoDigits item.newRateWithMonitoring6}}</td>
  </tr>
  <tr>
    <th>Sum Credit Balance</th>
    <td>{{twoDigits item.balance1}}</td>
    <td>{{twoDigits item.balance2}}</td>
    <td>{{twoDigits item.balance3}}</td>
    <td>{{twoDigits item.balance4}}</td>
    <td>{{twoDigits item.balance5}}</td>
    <td>{{twoDigits item.balance6}}</td>
  </tr>
</tbody>